<!DOCTYPE html>
<html lang="en">
<head>
	
</head> 

<body class="container">


<main>
    <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
        <% for(var i = 0 ; i < arr.length ; i++) { %>
       <tr>
            <td><%= arr[i] %></td>
       </tr>
<% } %>
    </div>
</main>


</body>
</html>